@font-face { font-family: 'WOFF Juli Sans-Light'; src: url('../fonts/JuliSans-Light.woff'); }
@font-face { font-family: 'WOFF Juli Sans-Regular'; src: url('../fonts/JuliSans-Regular.woff'); }
@font-face { font-family: 'WOFF Juli Sans-Medium'; src: url('../fonts/JuliSans-Medium.woff'); }
@font-face { font-family: 'WOFF Juli Sans-Bold'; src: url('../fonts/JuliSans-Bold.woff'); }
@font-face { font-family: 'WOFF2 Juli Sans-Light'; src: url('../fonts/JuliSans-Light.woff2'); }
@font-face { font-family: 'WOFF2 Juli Sans-Regular'; src: url('../fonts/JuliSans-Regular.woff2'); }
@font-face { font-family: 'WOFF2 Juli Sans-Medium'; src: url('../fonts/JuliSans-Medium.woff2'); }
@font-face { font-family: 'WOFF2 Juli Sans-Bold'; src: url('../fonts/JuliSans-Bold.woff2'); }
@font-face { font-family: 'EOT Juli Sans-Light'; src: url('../fonts/JuliSans-Light.eot'); }
@font-face { font-family: 'EOT Juli Sans-Regular'; src: url('../fonts/JuliSans-Regular.eot'); }
@font-face { font-family: 'EOT Juli Sans-Medium'; src: url('../fonts/JuliSans-Medium.eot'); }
@font-face { font-family: 'EOT Juli Sans-Bold'; src: url('../fonts/JuliSans-Bold.eot'); }

.calculator_table{
	font-size:12px;
	font-family: "WOFF2 Juli Sans-Regular"; 
	font-feature-settings: "kern" on, "liga" on, "calt" on;
	-moz-font-feature-settings: "kern" on, "liga" on, "calt" on;
	-webkit-font-feature-settings: "kern" on, "liga" on, "calt" on;
	-ms-font-feature-settings: "kern" on, "liga" on, "calt" on;
	-o-font-feature-settings: "kern" on, "liga" on, "calt" on;
	padding: 0 25px 25px;
}

#ovulationCalculatorForm{
	background-color: #f5f5f5;
	padding: 25px 25px 15px;
	margin-bottom: 50px;
}

#calendar{
	display: none;
}

.ui-datepicker{
	width: 100%;
}

.oc_heading{
	padding: 0 25px 0;
}

.oc_title,
.oc_subtitle{
	color: #9E8977;
}

.oc_title{
	font-family: "WOFF Juli Sans-Bold"; 
	font-size: 40px;
	margin: 0 0 10px;
	padding: 1.5em 0 0;
	line-height: 1.4
}
.oc_subtitle{
	font-family: "WOFF2 Juli Sans-Medium"; 
	font-size: 20px;
	margin: 0 0 1.5em;
	padding: 0;
	line-height: 1.5
}

.calculator_table form,
.calculator_table .email-box{
	position: relative;
}

.calculator_table i.fa.fa-calendar{
	position: absolute;
	right: 35px;
	margin-top: 10px;
	color: #c1c1c1;
}

.calculator_table i.fa.fa-angle-right{
	position: absolute;
	right: 35px;
	margin-top: 15px;
	color: #fff;
}


.calculator_table h2,
.calculator_table p{
	font-family: "WOFF2 Juli Sans-Medium"; 
	color: #9E8977;
}

.calculator_table p{
	font-family: "WOFF2 Juli Sans-Regular";
	font-size: 20px;
	margin: 0 0 1.5em;
    padding: 0;
}

.calculator_table h2{
	font-size: 1.625rem;
	line-height: 1.4;
    margin: 0 0 0.75em;
    padding: 0;
}



.calculator_table input[type="email"],
.calculator_table select,
.calculator_table input[type="text"]{
	font-family: "WOFF2 Juli Sans-Regular"; 
	color: #9b9893;
	border-radius: 5px;
	margin-bottom: 1em;
	font-size: 1rem;
	line-height: 1.5;
}
.calculator_table input[type="email"],
.calculator_table input[type="text"]{
	background: #fff;
	border: 1px solid #ccc;
	display: block;
	padding: 0.7em;
	width: 100%;
	font-size: 1rem;
	line-height: 1.5;
}

.calculator_table input[type="email"]{
	font-size: 1.2rem;
	padding: 0.5em;
}

.calculator_table select{
	border: 1px solid #ccc;
	height: 3em;
	max-width: 100%;
	width: 100%;
}
.calculator_table input[type="email"]:active,
.calculator_table input[type="email"]:focus,
.calculator_table input[type="text"]:active,
.calculator_table input[type="text"]:focus{
	color: #999;
	border-color: #ccc;
}
.calculateagain,
.calculator_table .submit-btn{
	padding: 1rem 0;
	text-align: center;
}


.calculator_table .submit-btn input[type=submit]{
	width: 100%;
	border-radius: 5px;
	background-color: #a8d1af;
	color: #fff;
	font-family: "WOFF2 Juli Sans-Regular"; 
	font-size: 20px;
	padding: 0.8em 2em;
	border: 0;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	text-shadow: none;
}


.calculator_table .submit-btn input[type=submit]:hover{
	background-color: #9b9893;	
}

.calculator_table form p{
	margin-bottom: 0.5em;
}

.email-area{
	background-color: #e6e6e6;
	padding: 15px 25px 5px;
}

.message-eng h2{
	font-family: "WOFF2 Juli Sans-Regular"; 
	margin: 0 0 1em;
	padding: 0;
}
.message-eng p{
	color: #544f49;
}

.subscription-option{
    display: flex;
}

.subscription-option input[type="checkbox"]{
	transition: all .3s linear;
	margin-right: 0.5em;
}

.calculateagain{
	display: flex;
}
.fertile{
	flex: 1;
	text-align: left;
}
.fertile a{
	font-family: "WOFF2 Juli Sans-Regular";
	text-decoration: none;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	font-size: 16px;
	color: #544f49;
}

.fertile a:visited{
	color: #544f49;
}

.fertile a > img{
	width: 20px;
	height: 20px;
	vertical-align: middle;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
}

.calculateagain i.fa.fa-calendar{
	position: relative;
	right: 0;
	margin: 0;
}

.calculateagain input[type=button]{
	font-family: "WOFF2 Juli Sans-Regular"; 
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: #544f49;
	padding: 0;
	font-size: 16px;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	line-height: 2;
	text-shadow: none;
	vertical-align: bottom;
}
.calculateagain input[type=button]:active,
.calculateagain input[type=button]:focus,
.calculateagain input[type=button]:hover{
	background-color: transparent;
	outline: 0;
}

.calculateagainbtn{
	position: relative;
	right: 20px;
}

.subscription-option label,
.email-box p,
.email-message p{
	color: #544f49;
}

.subscription-option label{
	font-size: 14px;
	line-height: 1;
}

.email-message h2,
.email-message p{
	margin-bottom: 0.5em;
}

.email-box p,
.email-message p{
	line-height: 1.2;
}

.calendar-area{
	background-color: #f5f5f5;
    margin-bottom: 1rem;
    padding: 1.5rem 0.5rem 0;
}

.calendar-area h2,
.calendar-area p{
	margin-bottom: 10px;
}

.calendar-area p{
	color: #544f49;
}
.ui-datepicker td a{
	-webkit-box-shadow: none;
	box-shadow: none;
}
.ui-state-default, .ui-widget-content .ui-state-default{
	border: 2px solid #fff;
}

.calculator_table .submit-btn input[disabled][type=submit] {
    background-color: #ccc;
    cursor: not-allowed;
}


td.fertileDay a.ui-state-default:focus,
td.periodDay a.ui-state-default:focus,
td.fertileDay a.ui-state-default:hover,
td.periodDay a.ui-state-default:hover{
	box-shadow: none;
}


/* Fertile Style
------------------------------------*/
td.fertileDay a.ui-state-default {
    background-color: #96d2af;
    color: #fff;
    background-image: url(images/tick.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
}

td.fertileDay:nth-child(4) {
	opacity: 0.4;
}
td.fertileDay:nth-child(5) {
	opacity: 0.6;
}
td.fertileDay:nth-child(6) {
	opacity: 0.8;
}
td.fertileDay:nth-child(7) {
	opacity: 1;
}
td.fertileDay:nth-child(1) {
	opacity: 0.2;
}




/* Period Style
------------------------------------*/
td.periodDay a.ui-state-default {
	background-color: #878cb4;
	color: #fff;
}



td.periodDay:nth-child(6){
	opacity: 1;
}
td.periodDay:nth-child(7){
	opacity: 0.8;
}
td.periodDay:nth-child(1){
	opacity: 0.6;
}
td.periodDay:nth-child(2){
	opacity: 0.4;
}
td.periodDay:nth-child(3){
	opacity: 0.2;
}

/* clearfix short For modern browsers */
.cf:before,
.cf:after { content:""; display:table; }
.cf:after { clear:both; }
/* For IE 6/7 (trigger hasLayout) */
.cf { zoom:1; }