@font-face { font-family: 'WOFF Juli Sans-Regular'; src: url('../fonts/JuliSans-Regular.woff'); }
@font-face { font-family: 'WOFF2 Juli Sans-Regular'; src: url('../fonts/JuliSans-Regular.woff2'); }

@font-face { font-family: 'WOFF Juli Sans-Medium'; src: url('../fonts/JuliSans-Medium.woff'); }
@font-face { font-family: 'WOFF2 Juli Sans-Medium'; src: url('../fonts/JuliSans-Medium.woff2'); }

@font-face { font-family: 'WOFF Juli Sans-Bold'; src: url('../fonts/JuliSans-Bold.woff'); }
@font-face { font-family: 'WOFF2 Juli Sans-Bold'; src: url('../fonts/JuliSans-Bold.woff2'); }

#OvulationCalculator h1.oc_admin_heading{
	font-family: "WOFF2 Juli Sans-Medium";
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: #9E8977;
}

#OvulationCalculator .ui-state-default a, 
#OvulationCalculator .ui-state-default a:link{
	font-family: "WOFF2 Juli Sans-Regular";
	padding: 1em 2em;
}

#OvulationCalculator .ui-state-default a:focus{
	outline: 0;
	box-shadow: none;
}

#OvulationCalculator .ui-state-active, 
#OvulationCalculator .ui-widget-content .ui-state-active, 
#OvulationCalculator .ui-widget-header .ui-state-active{
	background: #9E8977;
	border: 1px solid #9E8977;
}

#OvulationCalculator .ui-widget-content{
	border: 0;
	background: transparent;
}

#OvulationCalculator .ui-widget-header{
	border-bottom: 1px solid #ddd;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	background: transparent;
}
#OvulationCalculator h2,
#OvulationCalculator .form-table th{
	font-family: "WOFF2 Juli Sans-Medium";
	margin-bottom: 2em;
}

#OvulationCalculator p.description{
	font-family: "WOFF2 Juli Sans-Regular";
}
#OvulationCalculator #uploadButtonLogo,
#OvulationCalculator #uploadButtonPerson,
#OvulationCalculator #uploadButtonHeader,
#OvulationCalculator #uploadButton,
#OvulationCalculator .large-text,
#OvulationCalculator .regular-text,
#OvulationCalculator .small-text{
	background: #fff;
    border: 1px solid #ccc;
    display: block;
    padding: 0.3em;
    font-size: 14px;
    line-height: 1.5;
}
#OvulationCalculator #uploadButtonLogo,
#OvulationCalculator #uploadButtonPerson,
#OvulationCalculator #uploadButtonHeader,
#OvulationCalculator #uploadButton{
	height: 100%;
	border-radius: 0;
	background-color: #a8d1af;
	color: #fff;
}

#OvulationCalculator h3{
	font-family: "WOFF2 Juli Sans-Medium";
	margin-bottom: 0;
}

#OvulationCalculator .preview{
	float: left;
}
#OvulationCalculator #imgPreviewLogo,
#OvulationCalculator #imgPreviewPerson,
#OvulationCalculator #imgPreviewHeader,
#OvulationCalculator #imgPreview{
	width: 100px;
	height: 100%;
	padding: 2px;
	margin: 0;
	background-color: #ccc;
}
#OvulationCalculator #imageURLLogo,
#OvulationCalculator #imageURLPerson,
#OvulationCalculator #imageURLHeader,
#OvulationCalculator #imageURL{
	float: left;
}

#OvulationCalculator .clearfix{
	clear: both;
}
